<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="secure DZI">
                    <match url="^secure_dzi/*" />
                    <action type="Rewrite" url="secure_dzi.asp" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
